
  <div class="fl w-50 w-20-ns tc pv5 bg-black-05">
    <article class="bg-white dib v-top ba b--black-10">
      <div class="pv2 ph2">
         <h1 class="f6 ttu tracked">{{name}}</h1>
      </div>
      <img src="{{avatar}}" class="w-100 db" alt="{{name}}">
      <div class="pa2">
        <a href="/people/{{_id}}" class="link dim lh-title">{{jobTitle}}</a>
        <small class="gray db pv2">{{username}} - <time>{{email}}</time></small>
      </div>
    </article>
  </div>
